<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= stylesheet_link_tag "homeland/application", media: "all" %> <%=
    javascript_include_tag "homeland/application" %> <%= csrf_meta_tags %>

    <meta charset="UTF-8" />
    <meta name="robots" content="noindex, follow" />
    <!-- <link rel="icon" href="https://inspirythemes.com/wp-content/uploads/2011/12/favicon.png" type="image/png"> -->

    <!-- page title, displayed in your browser bar -->



    <!-- add feeds, pingback and stuff-->
    <!-- <link rel="profile" href="http://gmpg.org/xfn/11" />
    <link rel="alternate" type="application/rss+xml" title="Inspiry Themes RSS2 Feed" href="https://inspirythemes.com/feed/" />
    <link rel="pingback" href="https://inspirythemes.com/xmlrpc.php" /> -->


    <!-- add css stylesheets -->
    <!-- <link rel="stylesheet" type="text/css" media="all" href="https://inspirythemes.com/wp-content/themes/angular/style.css" />
    <link rel="stylesheet" href="https://inspirythemes.com/wp-content/themes/angular/css/grid.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="https://inspirythemes.com/wp-content/themes/angular/css/base.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="https://inspirythemes.com/wp-content/themes/angular/css/layout.css?v=1" type="text/css" media="screen"/>
    <link rel="stylesheet" href="https://inspirythemes.com/wp-content/themes/angular/css/slideshow.css?v=1" type="text/css" media="screen"/>
    <link rel="stylesheet" href="https://inspirythemes.com/wp-content/themes/angular/css/shortcodes.css" type="text/css" media="screen"/>



    <link rel="stylesheet" href="https://inspirythemes.com/wp-content/themes/angular/js/prettyPhoto/css/prettyPhoto.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="https://inspirythemes.com/wp-content/themes/angular/js/mediaelement/mediaelementplayer.css" type="text/css" media="screen"/>
 -->

    <!-- mobile setting -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!-- plugin and theme output with wp_head() -->

    <!-- This site is optimized with the Yoast WordPress SEO plugin v1.3.4.1 - http://yoast.com/wordpress/seo/ -->

    <!-- / Yoast WordPress SEO plugin. -->

    <!-- <link rel='stylesheet' id='flick-css'  href='https://inspirythemes.com/wp-content/plugins/mailchimp//css/flick/flick.css?ver=3.5' type='text/css' media='all' />
    <link rel='stylesheet' id='mailchimpSF_main_css-css'  href='https://inspirythemes.com/?mcsf_action=main_css&#038;ver=3.5' type='text/css' media='all' /> -->
    <!--[if IE]>
    <link rel='stylesheet' id='mailchimpSF_ie_css-css'  href='https://inspirythemes.com/wp-content/plugins/mailchimp/css/ie.css?ver=3.5' type='text/css' media='all' />
    <![endif]-->
    <!-- <script type='text/javascript' src='https://inspirythemes.com/wp-includes/js/jquery/jquery.js?ver=1.8.3'></script>
    <script type='text/javascript' src='https://inspirythemes.com/wp-content/plugins/mailchimp/js/scrollTo.js?ver=1.2.13'></script>
    <script type='text/javascript' src='https://inspirythemes.com/wp-includes/js/jquery/jquery.form.min.js?ver=2.73'></script>
    <script type='text/javascript'>
    /* <![CDATA[ */
    var mailchimpSF = {"ajax_url":"http:\/\/inspirythemes.com\/"};
    /* ]]> */
    </script>
    <script type='text/javascript' src='https://inspirythemes.com/wp-content/plugins/mailchimp/js/mailchimp.js?ver=1.2.13'></script>
    <script type='text/javascript' src='https://inspirythemes.com/wp-includes/js/jquery/ui/jquery.ui.core.min.js?ver=1.9.2'></script>
    <script type='text/javascript' src='https://inspirythemes.com/wp-content/plugins/mailchimp//js/datepicker.js?ver=3.5'></script>
    <script type='text/javascript' src='https://inspirythemes.com/wp-content/themes/angular/js/mediaelement/mediaelement-and-player.min.js?ver=1'></script>
    <script type='text/javascript' src='https://inspirythemes.com/wp-content/themes/angular/js/avia.js?ver=2'></script> -->
    <!-- <meta name="generator" content="WordPress 3.5" />
    	<script type="text/javascript">
    		jQuery(function($) {
    			$('.date-pick').datepicker({
    				autoFocusNextInput: true,
    				constrainInput: false,
    				changeMonth: true,
    				changeYear: true,
    				beforeShow: function(input, inst) { $('#ui-datepicker-div').addClass('show'); },
    				dateFormat: 'yy/mm/dd',
    			});

    			d = new Date();
    			$('.birthdate-pick').datepicker({
    				autoFocusNextInput: true,
    				constrainInput: false,
    				changeMonth: true,
    				changeYear: false,
    				minDate: new Date(d.getFullYear(), 1-1, 1),
    				maxDate: new Date(d.getFullYear(), 12-1, 31),
    				beforeShow: function(input, inst) { $('#ui-datepicker-div').removeClass('show'); },
    				dateFormat: 'mm/dd',
    			});


    		});
    	</script> -->

    <!-- custom styles set at your backend-->
    <style type='text/css' id='dynamic-styles'>
    #top .site-fontcolor, html, body, .blog-meta .post-meta-infos a, .blog-meta .post-meta-infos a span{
    color:#777777;
    }

    #top .meta-color, div .meta-color a, .main_menu ul li a, .blog-inner-meta, .blog-inner-meta a, #top .widget ul li a, .minitext, .form-allowed-tags, div .pagination, #comments span, .minitext, .commentmetadata a, .blog-tags, .blog-tags a, .title_container #s, .wp-caption, blockquote:before, blockquote:after, blockquote small, blockquote cite, .hero-text, .js_active .tab, .news-time, .contentSlideControlls a, #js_sort_items a, .text-sep, .template-search a.post-entry .news-excerpt, .borderlist>li, .post_nav, .post_nav a, .quote-content, #top .widget_nav_menu li, .tweet-time, #top .avia_parnter_empty, .avia_socialcount a span, td, #top th.nobg, caption, .page-title{
    color:#999999;
    }

    #top .heading-color, strong, #top .main-color, .main_menu ul:first-child > li.current-menu-item > a, .main_menu ul:first-child > li.current_page_item > a,  #top blockquote p, #top .main_menu .menu li a:hover, h1, h2, h3, h4, h5, h6, .js_active .tab.active_tab, #top #wrap_all .current_page_item>a, .first-quote, div .callout{
    color:#3C3C3C;
    }

    #top .search-result-counter{
    color:#f8f8f8;
    }

    #top .site-background, html, body, .comment-reply-link, .main_menu .menu ul li, .title_container #searchsubmit:hover, .isotope .entry-content, .image_overlay_effect, .tagcloud a, .news-thumb, .tweet-thumb a, fieldset, pre, .container_wrap .social_bookmarks li, #info_text_header.minimized{
    background-color:#ffffff;
    }

    tr:nth-child(even) td, tr:nth-child(even) th{
    background-color:#ffffff;
    }

    #top .on-primary-color, #top .on-primary-color a, .dropcap2, div .button, input[type="submit"], #submit, .info_text_header, .info_text_header a, .info_text_header a:hover, .contentSlideControlls a.activeItem, #top .related_posts .contentSlideControlls a.activeItem, .contentSlideControlls a:hover, #top .related_posts .contentSlideControlls a:hover, #top th, #top th a,  a.button:hover, .callout a, #top .big_button:hover{
    color:#ffffff;
    }

    #top .aside-background, div .gravatar img, .slideshow, #top .main_menu .menu li ul a:hover, .related_posts_default_image, div .numeric_controls a, .title_container #searchsubmit, .title_container #s, .tab_content.active_tab_content, .js_active #top  .active_tab, .toggler.activeTitle, .contentSlideControlls a{
    background-color:#f8f8f8;
    }

    tr:nth-child(odd) td, tr:nth-child(odd) th{
    background-color:#f8f8f8;
    }

    #top .primary-background, .dropcap2, div .button, input[type="submit"], #submit, .info_text_header, #info_text_header .infotext, .numeric_controls a:hover, .numeric_controls .active_item, .contentSlideControlls a.activeItem, #top th, #top .related_posts .contentSlideControlls a.activeItem, #top .arrow_controls a, #main .content #searchsubmit:hover, .callout a, #info_text_header.minimized:hover{
    background-color:#f0b70c;
    }

    #top .primary-color, a, #cancel-comment-reply-link, .blog-tags a:hover, .relThumb a:hover strong, .flex_column h1, .flex_column h2, .flex_column h3, .flex_column h4, .flex_column h5, .flex_column h6, #top #wrap_all .tweet-text a, #top #js_sort_items a.active_sort, .callout a:hover{
    color:#f0b70c;
    }

    #top .primary-border, div .main_menu ul:first-child > li.current-menu-item > a, div .main_menu ul:first-child > li.current_page_item > a, div .button, input[type="submit"], #submit, #top .main_menu .menu ul, .info_text_header{
    border-color:#f0b70c;
    }

    h1, h2, h3, h4, h5, h6, .hero-text, blockquote, legend, #top .slideshow_caption h1{
    font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial;
    }


    #top .extralight-border, div #header .container, div .pagination, #top .pagination span, div .pagination a, div .gravatar img, #top div .commentlist ul, div .children .children .says, div .commentlist>.comment, div .input-text, input[type="text"], input[type="password"], input[type="email"], textarea, select, #top .main_menu .menu li, pre, code, div .numeric_controls a, div .pullquote_boxed, div .news-thumb, div .tweet-thumb a, #top .borderlist>li, .post_nav, #top .wp-caption, .slideshow,  .widget a, .widget li, .widget span, .widget div, table, td, tr, th, #footer .container, #socket .container, #top fieldset, #top .social_bookmarks, #top .social_bookmarks li, #info_text_header, .ajax-control a, .inner_column, #top .blog-meta, .inner-entry, .inner_slide{
    border-color:#e1e1e1;
    }

    #top .highlight-background, div .button:hover, input[type="submit"]:hover, #submit:hover, .contentSlideControlls a:hover, #top .related_posts .contentSlideControlls a:hover, #top .caption-slideshow-button:hover, #top .arrow_controls a:hover, #main .content #searchsubmit{
    background-color:#edc756;
    }

    a:hover, #top .widget ul li a:hover, #top .widget ul li .news-link:hover strong, #top #wrap_all .tweet-text a:hover, #js_sort_items a:hover, .ajax_slide a:hover, .ajax-control a:hover{
    color:#edc756;
    }

    #top .caption-slideshow-button:hover{
    border-color:#edc756;
    }

    #footer{
    background-color:#333333;
    }
    

    #top #wrap_all #footer a, #footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6, #footer strong, #footer .tabcontainer span, #top #footer table, #top #footer table td, #top #footer table caption{
    color:#ffffff;
    }

    #footer, #footer div, #footer p, #footer span, #top #wrap_all #footer a:hover strong{
    color:#CCCCCC;
    }

    #footer a, #footer div, #footer span, #footer li, #footer ul{
    border-color:#666666;
    }

    #footer table, #footer td, #footer tr, #footer th #footer img{
    border-color:#CCCCCC;
    }

    #top #footer .tagcloud a, #footer .tab_content.active_tab_content, .js_active #top #footer .active_tab, #footer .news-thumb, #footer .tweet-thumb a{
    background-color:#666666;
    }

    #footer tr:nth-child(odd) td, #footer tr:nth-child(odd) th{
    background-color:#666666;
    }

    #socket, #socket a, html.html_stretched{
    background-color:#222222;
    }

    #socket, #socket a{
    color:#aaaaaa;
    }

    #top .portfolio-title, .portfolio-sort-container .inner-entry, .ajax_loading, .ajax-control a, .inner_column, .ajax_slide .inner_slide, #top .ajax_slide .slideshow, #top .inner-entry .slideshow, .ajax_slide .entry-content{
    background-color:#ffffff;
    }

    #top .portfolio-title, #top .portfolio-title a, #top .portfolio-title a:hover, .ajax-control a, .ajax_slide h1, .ajax_slide h2, .ajax_slide h3, .ajax_slide h4, .ajax_slide h5, .ajax_slide h6, .ajax_slide strong, .ajax_slide a{
    color:#222222;
    }

    .ajax_slide{
    color:#919191;
    }

    #top .ajax_slide .extralight-border{
    border-color:#E4E4E4;
    }

    ::-moz-selection{
    background-color:#f0b70c;
    }

    ::-webkit-selection{
    background-color:#f0b70c;
    }

    ::selection{
    background-color:#f0b70c;
    }

    ::-moz-selection{
    color:#ffffff;
    }

    ::-webkit-selection{
    color:#ffffff;
    }

    ::selection{
    color:#ffffff;
    }

    </style>

    <!-- end custom styles-->


    <!-- google webfont font replacement -->
    <link id="google_webfont_1" rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family="HelveticaNeue", "Helvetica Neue", Helvetica, Arial" />

    <!-- <link rel="stylesheet" href="https://inspirythemes.com/wp-content/themes/angular/css/custom.css" type="text/css" media="screen"/> -->

  </head>
  <body>



    <!--
    <div class="container">
      <a class="navbar-brand" href="<%= main_app.root_path %>">UCAS-BBS</a>
      <ul class="nav navbar-nav main-nav">
        <li class="nav-item<%= ' active' if controller_name == 'topics' and action_name == 'index' %>">
          <a class="nav-link" href="<%= homeland.root_path %>">最新</a>
        </li>
        <li class="nav-item<%= ' active' if controller_name == 'topics' and action_name == 'features' %>">
          <a class="nav-link" href="<%= homeland.features_topics_path %>"><%= t('homeland.nav.features') %></a>
        </li>
        <li class="nav-item<%= ' active' if controller_name == 'topics' and action_name == 'recent' %>">
          <a class="nav-link" href="<%= homeland.recent_topics_path %>"><%= t('homeland.nav.recent') %></a>
        </li>
        <li class="nav-item<%= ' active' if controller_name == 'nodes' %>">
          <a class="nav-link" href="<%= homeland.nodes_path %>">板块</a>
        </li>
      </ul>
      <ul class="nav navbar-nav pull-xs-right">
        <li class="nav-item<%= ' active' if controller_name == 'topics' and action_name == 'new' %>">
          <a class="btn btn-primary-outline" href="<%= homeland.new_topic_path %>"><i class="fa fa-plus"></i> <%= t('homeland.nav.new') %></a>
        </li>
      </ul>
    </div>
  </nav>
  !-->

    <div class="header-wrapper">
      <header>
        <div class="container">
          <div class="logo-container">
            <!-- Website Logo -->
            <a href="<%= main_app.root_path %>" title="Knowledge Base Theme">
              <span style="font-size:30px;">喔壳社区</span>
            </a>
            <span class="tag-line">BBS For UCASer</span>
          </div>

          <!-- Start of Main Navigation -->
          <nav class="main-nav">
            <div class="menu-top-menu-container">
              <ul id="menu-top-menu" class="clearfix">
                <li><a href="<%= homeland.root_path %>">首页</a></li>
                <li><a href="<%= homeland.nodes_path %>">板块列表</a></li>

                <li><a href="<%= homeland.new_topic_path %>">新建帖子</a></li>
                <% if current_user %>
                  <li><%= link_to('登出', destroy_session_path(:user), :method => :delete) %></li>
                  <li><%= link_to('修改密码', edit_registration_path(:user)) %></li>
                <% else %>
                  <li><%= link_to('注册', new_registration_path(:user)) %></li>
                  <li><%= link_to('登入', new_session_path(:user)) %></li>
                <% end %>
              </ul>
            </div>
          </nav>
          <!-- End of Main Navigation -->
        </div>
      </header>
    </div>

    <%= notice_message %> <%= yield %>
    <!-- <script type='text/javascript' src='https://inspirythemes.com/wp-content/themes/angular/js/prettyPhoto/js/jquery.prettyPhoto.js?ver=3.0.1'></script>
   <script type='text/javascript' src='https://inspirythemes.com/wp-content/themes/angular/js/aviapoly.js?ver=1.1.0'></script> -->

  </body>
</html>
