<style type='text/css'>
  .pagination{
    visibility: hidden;
  }
</style>

<%= render "homeland/searcht/search_bar" %>

<div class="page-container">
  <div class="container">
    <div class="row">
      <!-- start of page content -->
      <div class="span8 page-content">
        <!-- Basic Home Page Template -->
        <div class="row separator">
          <section class="span4 articles-list">
            <h3>最热帖子</h3>
            <ul class="articles">
              <% if @topics.blank? %> <%= t('homeland.topics.empty') %>
              <% else%> <%= render @topics_reply %> <% end %>
            </ul>
          </section>
          <section class="span4 articles-list">
            <h3>最新帖子</h3>
            <ul class="articles">
              <% if @topics.blank? %> <%= t('homeland.topics.empty') %> <%
              else%> <%= render @topics %> <% end %>
            </ul>
          </section>
        </div>
      </div>

      <!-- start of sidebar -->
      <aside class="span4 page-sidebar">
        <section class="widget">
          <div class="support-widget">
            <h3 class="title">Support</h3>
            <p class="intro">
              Need more support? If you did not found an answer, contact us for
              further help.
            </p>
          </div>
        </section>

        <section class="widget">
          <div class="quick-links-widget">
            <h3 class="title">Quick Links</h3>
            <ul id="menu-quick-links" class="menu clearfix">
              <li><a href="index-2.html">Home</a></li>
              <li><a href="articles-list.html">Articles List</a></li>
              <li><a href="faq.html">FAQs</a></li>
              <li><a href="contact.html">Contact</a></li>
            </ul>
          </div>
        </section>

        <section class="widget">
          <h3 class="title">Tags</h3>
          <div class="tagcloud">
            <a href="#" class="btn btn-mini">富强</a>
            <a href="#" class="btn btn-mini">民主</a>
            <a href="#" class="btn btn-mini">文明</a>
            <a href="#" class="btn btn-mini">和谐</a>
            <br>
            <a href="#" class="btn btn-mini">自由</a>
            <a href="#" class="btn btn-mini">平等</a>
            <a href="#" class="btn btn-mini">公正</a>
            <a href="#" class="btn btn-mini">法治</a>
            <br>
            <a href="#" class="btn btn-mini">爱国</a>
            <a href="#" class="btn btn-mini">敬业</a>
            <a href="#" class="btn btn-mini">诚信</a>
            <a href="#" class="btn btn-mini">友善</a>

          </div>
        </section>
      </aside>
      <!-- end of sidebar -->
    </div>
  </div>
</div>

<%= homeland_paginate @topics %>
