<div class="page-container">
  <div class="container">

    <div class="row">

      <!-- start of page content -->
      <div class="span8 page-content">

        <ul class="breadcrumb">
          <li>
            <a href="#" title=""><%= node_tag(@topic.node) %></a>
            <span class="divider">/</span></li>
          <li class="active"><%= @topic.title %></li>
        </ul>

        <article class=" type-post format-standard hentry clearfix">

          <h1 class="post-title">
            <a href="#"><%= @topic.title %></a>
          </h1>

          <div class="post-meta clearfix">
            <span class="date"><%= timeago @topic.activity_at %></span>
            <span class="category">
              <a href="#" title=""><%= node_tag(@topic.node) %></a>
            </span>
            <span class="comments">
              <a href="#" title=""><%= @topic.replies_count %>
                Comments</a>
            </span>
          </div>
          <!-- end of post meta -->

          <%= render partial: 'homeland/replies/topic_body', locals: { reply: @topic } %>
          <div style="float:right">
            <% if owner?(@topic) %>
              <a href="<%= edit_topic_url(@topic) %>" class="btn btn-success btn-default">update</a>
              <!-- <%= form_tag topic_url(@topic), :method => :delete, :class => "btn btn-danger btn-default" do %>
                delete
              <% end %> -->
              <a href="#" data-method="DELETE" data-confirm="<%= t('homeland.are_you_sure_to_delete') %>" class="btn btn-danger btn-default">delete</a>
            <% end %>
          </div>
        </article>

        <section id="comments">

          <h3 id="comments-title"><%= @topic.replies_count %> Comments</h3>

          <ol class="commentlist">

            <%= render @replies %>

          </ol>

          <div id="respond">

            <h3>Leave a Reply</h3>

            <div class="cancel-comment-reply">
              <a rel="nofollow" id="cancel-comment-reply-link" href="#" style="display:none;">Click here to cancel reply.</a>
            </div>

            <%= render 'reply_form' %>

          </div>

        </section>
        <!-- end of comments -->

      </div>
      <!-- end of page content -->

      <!-- start of sidebar -->
      <aside class="span4 page-sidebar">
        <section class="widget">
          <div class="support-widget">
            <h3 class="title">说明</h3>
            <p class="intro">
              您现在访问的是喔壳社区的alpha测试版本，我们会进行后续更新，敬请关注
            </p>
          </div>
        </section>

        <section class="widget">
          <div class="quick-links-widget">
            <h3 class="title">快捷链接</h3>
            <ul id="menu-quick-links" class="menu clearfix">
              <li><a href="/c/6">编程技术</a></li>
              <li><a href="/c/1">课程资源共享</a></li>
              <li><a href="/c/5">内推交流</a></li>
              <li><a href="/c/3">课程评价</a></li>
            </ul>
          </div>
        </section>
      </aside>
      <!-- end of sidebar -->
      </div>
    </div>
  </div>
