<% if admin? %>
  <ul class="nav nav-pills" style="margin-bottom:20px ">
    <li class="nav-item">
      <a class="nav-link active" href="<%= homeland.nodes_path %>"><%= t("homeland.nav.node") %></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="<%= homeland.new_node_path %>"><%= t("homeland.new") %></a>
    </li>
  </ul>
<% end %>

<div class="page-container">
  <div class="container">
    <!-- <div class="row home-category-list-area">
      <div class="span8">
        <h2>课程</h2>
      </div>
    </div>

    <div class="row-fluid top-cats">

      <section class="span4">
        <h4 class="category">
          <a href="#">课程资源共享</a>
        </h4>
        <div class="category-description">
          <p>推荐分享：课件、电子书、笔记</p>
          <p>不推荐但是可以偷偷分享：课后习题答案</p>
        </div>
      </section>

      <section class="span4">
        <h4 class="category">
          <a href="#">疑难解答</a>
        </h4>
        <div class="category-description">
          <p>所有人问所有人</p>
        </div>
      </section>

      <section class="span4">
        <h4 class="category">
          <a href="#">课程评价</a>
        </h4>
        <div class="category-description">
          <p>听学长讲去年的故事</p>
        </div>
      </section>
    </div>
    <div class="row-fluid top-cats">

      <section class="span4">
        <h4 class="category">
          <a href="#">偷偷吐槽</a>
        </h4>
        <div class="category-description">
          <p>Nothing is real. Everything is permitted.</p>
        </div>
      </section>
    </div>

    <div class="row home-category-list-area">
      <div class="span8">
        <h2>Offer&技术分享</h2>
      </div>
    </div>

    <div class="row-fluid top-cats">

      <section class="span4">
        <h4 class="category">
          <a href="#">内推交流</a>
        </h4>
        <div class="category-description">
          <p>国科大版“北邮人”？</p>
        </div>
      </section>

      <section class="span4">
        <h4 class="category">
          <a href="#">编程技术</a>
        </h4>
        <div class="category-description">
          <p>PHP是世界上最好的语言！</p>
        </div>
      </section>

      <section class="span4">
        <h4 class="category">
          <a href="#">项目组队</a>
        </h4>
        <div class="category-description">
          <p>大型腿部挂件认领现场</p>
        </div>
      </section>
    </div>
    <div class="row-fluid top-cats">

      <section class="span4">
        <h4 class="category">
          <a href="#">内幕分享</a>
        </h4>
        <div class="category-description">
          <p>眼见未必为实，耳听未必为虚。客官且自行斟酌。</p>
        </div>
      </section>

    </div>

    <div class="row home-category-list-area">
      <div class="span8">
        <h2>杂货铺</h2>
      </div>
    </div>

    <div class="row-fluid top-cats">

      <section class="span4">
        <h4 class="category">
          <a href="#">旧货市场</a>
        </h4>
        <div class="category-description">
          <p>只予有缘人</p>
        </div>
      </section>

      <section class="span4">
        <h4 class="category">
          <a href="#">资源共享</a>
        </h4>
        <div class="category-description">
          <p>我有一壶酒，可以慰风尘。尽倾江海里，赠饮天下人。</p>
        </div>
      </section>

      <section class="span4">
        <h4 class="category">
          <a href="#">无人知晓</a>
        </h4>
        <div class="category-description">
          <p>夜猫子的栖息地</p>
        </div>
      </section>
    </div> -->
    <%= render @nodes %>
  </div>
</div>
